@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:focus {outline:none;}
::-moz-focus-inner {border:0;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-mobile.png);
    min-height: 100vh;
}

.wrapper {
    max-width: 1440px;
    text-align: center;
    padding: 8%;
    margin: 0 auto;
}


.main-text {
    color: white;
    margin: 50px 0 60px;
}

.main-text h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.pricing {
    color: white;
    background-color: hsl(248, 32%, 49%);
    padding: 10px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 9px 1px rgba(0, 0, 0, 0.1);
}

.pricing span {
    font-weight: 700;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 9px 1px rgba(0, 0, 0, 0.1);
}

input, 
button,
.border-line,
.agreement {
    width: 80%;
    align-self: center;
    padding: 10px 0;
    outline: none;
}


.border-line {
    margin: 0 0 20px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    text-align: left;
    padding: 0;
    position: relative;

}

input {
    font-weight: 600;
    border: none;
    color: hsl(249, 10%, 26%); 
    margin: 0;
    outline: none;
    caret-color: hsl(248, 32%, 49%);
    padding-left: 15px;
    padding: 20px 0 20px 20px;
    border-radius: 5px;
}

input:focus {
    border: 1px solid hsl(248, 32%, 49%);
    width: 100%;
}


button {
    color: white;
    font-weight: 600;
    background-color: rgb(56, 204, 140);
    border: none;
    padding: 20.8px 0;
    border-radius: 5px;
    box-shadow: inset 0 -5px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: rgba(56, 204, 140, .7);
}

.agreement {
    font-size: 0.6rem;
    padding: 3% 6%;
    margin-bottom: 10px;
    color: hsl(246, 25%, 77%);
}

.agreement span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}



.error {
    font-size: 12px;
    font-style: italic;
    color: hsl(0, 100%, 74%) ;
    text-align: right;
    width: 90%;
    position: relative;
    bottom: 15px;
}

.error-icon {
    text-align: center;
    position: absolute;
    bottom: 30%;
    right: 5%;
}


.inactive {
    display: none;
}

@media (min-width: 768px) {
 
    body {
        display: flex;
        align-items: center;
    }

    .wrapper {
        display: flex;
    }

    .main-text {
        flex:1;
        margin-right: 7%;
    }

    .register {
        flex:1;
    }

    .main-text{
        align-self: center;
    }

    .main-text h1 {
        font-size: 3rem;
        text-align: left;
    }

    .main-text p {
        text-align: left;
    }

    .pricing {
        padding: 15px 40px;
    }

    .agreement {
        margin-bottom: 20px;
    }
}